.tab-wrapper{
	border-bottom: 1px solid #1D8BEC;
	margin-bottom: 25px;
}
.tab-wrapper.active{
	border-bottom: 1px solid #CF001C;
}
.tab-wrapper .tab{
	display: inline-block;
	width: 153px;
	color: #1D8BEC;
	padding: 10px 5px;
}
.tab-wrapper .tab.active{
	border-bottom: 2px solid #CF001C;
	margin-bottom: -2px;
	color: #CF001C;
}
.desc-tab-wrap{
	text-align: center;
}
.desc-tab-wrap .desc-tab{

display: none;
}
.desc-tab-wrap .desc-tab p{
	text-align: left;
}
.desc-tab-wrap .desc-tab img{
	max-width: 300px;
}
.desc-tab-wrap .desc-tab.active{
	display: block;
}