@font-face {
    font-family: HelveticaNeueLTStd_Roman;
    src: url(../fonts/HelveticaNeueLTStd_Roman.otf);
}
@font-face {
    font-family: HelveticaNeueLTStd_Th;
    src: url(../fonts/HelveticaNeueLTStd_Th.otf);
}
@font-face {
    font-family: HelveticaNeueLTStd_Md;
    src: url(../fonts/HelveticaNeueLTStd_Md.otf);
}
@font-face {
    font-family: Agenda-Black;
    src: url(../fonts/Agenda/Agenda-Black.otf);
}
@font-face {
    font-family: Agenda-Medium;
    src: url(../fonts/Agenda/Agenda-Medium.otf);
}
@font-face {
    font-family: Agenda-Bold;
    src: url(../fonts/Agenda/Agenda-Bold.otf);
}
@font-face {
    font-family: Lato-Black;
    src: url(../fonts/Lato/Lato-Black.ttf);
}
@font-face {
    font-family: Lato-Medium;
    src: url(../fonts/Lato/Lato-Medium.ttf);
}
@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato/Lato-Bold.ttf);
}

*{
	margin: 0;
	padding: 0;
}
input, input:before, input:after {
      -webkit-user-select: initial;
      -khtml-user-select: initial;
      -moz-user-select: initial;
      -ms-user-select: initial;
      user-select: initial;
}
html{
	height: 100%;
}
.ui-mobile, .ui-mobile body{
	height: 100% !important;
}
body{
	width: 100%;
	height: 100%;
	background: #000;
	font-family: HelveticaNeueLTStd_Roman;
	font-size: 1.6em;
	font-weight: normal;
	color: #343434;
	max-width: 425px;
	margin: 0 auto;
}
.body-wrapper{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	display: table;
	position: fixed;
	max-width: 425px;
}

video::-media-controls-download-button,
video::-media-controls-mute-button,
video::-media-controls-volume-slider{
    display:none;
}
video::-webkit-media-controls-download-button,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-volume-slider{
    display:none;
}
video::-moz-media-controls-download-button,
video::-moz-media-controls-mute-button,
video::-moz-media-controls-volume-slider,{
    display:none;
}
video::-o-internal-media-controls-download-button,
video::-o-media-controls-mute-button,
video::-o-media-controls-volume-slider{
    display:none;
}
video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: 100%; /* Adjust as needed */
}
video {
    width: 100%;
}

*:fullscreen
*:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
   overflow: auto !important;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
}
 
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.1);
}

/**
 * ============================
 * LAYOUTS
 * ============================
 */
#content>.slider-content{
	height: 100%;
	width: 100%;
	overflow-y: auto;
	/* padding-bottom: 100px; */
	position: fixed;
	max-width: 425px;
	max-height: 640px;
	font-size: 14px;
	line-height: 1.5em;
  	margin: 0 auto;
}
#content .slider-content>div{
	height: 100%;
	width: 100%;
	vertical-align: middle;
	padding: 15px 35px 50px 35px;
}
.wrap>div{
  height: 100% !important;
  text-align: center !important;
}
.l-table-middle{
  height: 100%;
  width: 100%;
  text-align: center;
  display: table;
}
.l-table-middle__cell{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: 0 10px;
}
.text_danger{
	font-weight: bold;
	color: #a94442;
}

/**
 * ============================
 * PAGER
 * ============================
 */
.bx-pager-link{
    background: none !important;
    border: 1px solid #CF001C !important;
}
.bx-pager-link.active{
    background: #CF001C !important;
}
.btn-next,
.btn-prev{
    width: 15px;
    height: 35px;
    display: inline-block;
    background: url(../image/slider/prev-next.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    margin-top: -43px;
}
.btn-next{
    right: 2%;
    background-position: -48px 0;
}
.btn-prev{
    left: 1%;
}
.btn-next a,
.btn-prev a{
    display: block;
    width: 100%;
    height: 100%;
}

/**
 * ============================
 * SLIDER
 * ============================
 */
 .bx-wrapper{
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}
#ulasan li{
    height: 100%;
}
#ulasan .about-wrapper{
    height: 100%;
    width: 100%;
    text-align: center;
    display: table;
}
#ulasan .about-wrapper>div{
    display: table-cell;
    vertical-align: middle;
}
#ulasan .about-wrapper .content{
    font-size: 1em;
    line-height: 2em;
    margin: 0 auto;
    padding: 0 25px;
}
#ulasan .about-wrapper .content span{
    color: #CF001C;
    font-weight: bolder;
}

/**
 * ============================
 * COMPONENTS GLOBAL
 * ============================
 */
 .btn-start{
	position: absolute;
	bottom: 0;
	width: 250px;
	height: 60px;
	text-align: center;
	padding: 20px 0;
	left: 50%;
	margin-left: -125px;
	margin-bottom: 20px;
	border: 1px solid #EC1D23;
	color: #EC1D23;
	font-size: 1.25em;
	text-decoration: none;
	cursor: pointer;
}
.btn-start:hover{
	color: #EC1D23;
	text-decoration: none;
}
.btn-standard {
  margin: 10px auto;
  border-radius: 5px;
  max-width: 120px;
  color: white;
  font-size: 1em;
  text-shadow: none !important;
  padding: 10px 0;
  text-align: center;
  width: 45%;
}
.btn-standard:hover {
  opacity: 0.85;
  text-shadow: none !important;
}
.btn-inline{
	display: inline-block;
	margin: 0 3px;
}
.btn-standard--yes{
	background: #469c46;
	border-bottom: 5px solid #3e793e;
}
.btn-standard--no{
	background: #cd5a5a;
	border-bottom: 5px solid #973939;
	margin: 0 3px;
}
.btn-standard--disable{
	background: #cccccc;
	border-bottom: 5px solid #999999;
	color: #999999;
}
.btn-standard--submit{
  background: #1D8BEC;
  border-bottom: 5px solid #186ab4;
}
.btn-standard--tryagain{
  background: #FF9900;
  border-bottom: 5px solid #D17E02;
}
.btn-standard--topic{
	background: #855CCD;
	border-bottom: 5px solid #6C4DA4;
}
.btn-standard--quit {
    background: #930724;
    border-bottom: 5px solid #620317;
}
.btn-standard--white{
	background: white;
    border-bottom: 5px solid grey;
    color: black;
}
.btn-add-new{
	text-align: left;
	cursor: pointer;
	font-weight: normal;
	color: #1d8bec;
	font-style: italic;
}
.btn-standard--back{
	background: #855ccd;
	border-bottom: 5px solid #6c4da4;
}

/**
 * ============================
 * ALERT BENAR-SALAH
 * ============================
 */
.alert{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    padding: 0;
    margin: 0;
    z-index: 90; /*add by elim*/
}
.alert.benar{
	-webkit-animation: alertbenar .5s linear;
	-moz-animation: alertbenar .5s linear;
	animation: alertbenar .5s linear;
	display: block;
}
.alert.salah{
	-webkit-animation: alertsalah .5s linear;
	-moz-animation: alertsalah .5s linear;
	animation: alertsalah .5s linear;
	display: block;
}

@-webkit-keyframes alertsalah{
	0%{
		background: rgba(235, 28, 36, 0);
	}
	25%{
		background: rgba(235, 28, 36, 0.6);
	}
	50%{
		background: rgba(235, 28, 36, 0);
	}
	75%{
		background: rgba(235, 28, 36, 0.6);
	}
	100%{
		background: rgba(235, 28, 36, 0);
	}
}
@-moz-keyframes alertsalah{
	0%{
		background: rgba(235, 28, 36, 0);
	}
	25%{
		background: rgba(235, 28, 36, 0.6);
	}
	50%{
		background: rgba(235, 28, 36, 0);
	}
	75%{
		background: rgba(235, 28, 36, 0.6);
	}
	100%{
		background: rgba(235, 28, 36, 0);
	}
}
@keyframes alertsalah{
	0%{
		background: rgba(235, 28, 36, 0);
	}
	25%{
		background: rgba(235, 28, 36, 0.6);
	}
	50%{
		background: rgba(235, 28, 36, 0);
	}
	75%{
		background: rgba(235, 28, 36, 0.6);
	}
	100%{
		background: rgba(235, 28, 36, 0);
	}
}

@-webkit-keyframes alertbenar{
	0%{
		background: rgba(0, 158, 100,0);
	}
	25%{
		background: rgba(0, 158, 100,0.6);
	}
	50%{
		background: rgba(0, 158, 100,0);
	}
	75%{
		background: rgba(0, 158, 100,0.6);
	}
	100%{
		background: rgba(0, 158, 100,0);
	}
}
@-moz-keyframes alertbenar{
	0%{
		background: rgba(0, 158, 100,0);
	}
	25%{
		background: rgba(0, 158, 100,0.6);
	}
	50%{
		background: rgba(0, 158, 100,0);
	}
	75%{
		background: rgba(0, 158, 100,0.6);
	}
	100%{
		background: rgba(0, 158, 100,0);
	}
}
@keyframes alertbenar{
	0%{
		background: rgba(0, 158, 100,0);
	}
	25%{
		background: rgba(0, 158, 100,0.6);
	}
	50%{
		background: rgba(0, 158, 100,0);
	}
	75%{
		background: rgba(0, 158, 100,0.6);
	}
	100%{
		background: rgba(0, 158, 100,0);
	}
}

.slick-dots li button:before{
	font-size: 13px !important;
	border: 1px solid #CF001C !important;
	content: " " !important;
	opacity: 1 !important;
	border-radius: 50%;
	width: 10px !important;
	height: 10px !important;
}
.slick-dots li.slick-active button:before{
	opacity: 1 !important;
	content: " " !important;
	background: #CF001C;
}
.slick-dots{
	display: block;
	position: relative !important;
	bottom: -10px !important;
}

.slick-prev{
	left: -30px !important;
	width: 25px !important;
	height: 30px !important;
	z-index: 10;
}
.slick-next{
	right: -30px !important;
	width: 25px !important;
	height: 30px !important;
	z-index: 10;
}
.slick-prev:before{
	font-family: FontAwesome !important;
	content: "\f053" !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: url(../image/slider/prev-next.png);
	background-size: cover;*/
	color: #cf001c !important;
}
.slick-next:before{
	font-family: FontAwesome !important;
	content: "\f054" !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: url(../image/slider/prev-next.png);
	background-size: cover;
	background-position: right;*/
	color: #cf001c !important;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before{
	color: #cf001c;
}
.slick-initialized .slick-slide{
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	box-sizing: unset !important;
	outline: none !important;
}

.bg_white{
	background-color: white;
}

.btn-sm{
	min-width: 120px;
	height: 45px;
}

.btn-bottom {
  width: 100%;
  padding: 40px 0 0;
}

a.btn.btn-grey {
  color: #666;
  background-color: #ddd;
  /* border-color: #9B9DA0; */
}

.open{
	display: block;
}

.color-red{
	color:red;
}