/* CONTENT */
.container.fixed{
	position: fixed; 
	overflow: hidden;
	
}
.container{
	width: 100%;
	padding: 0;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.content-wrapper{
	width: 100%;
	/* height: 100%; */
	/* display: table; */
}
.container.background-container .content-wrapper{
	display: block;
	padding: 15px;
	z-index: 0;
}

/* COVER */
#content .number-module{
	display: inline-block;
	vertical-align: middle;
	padding: 15px 0;
	font-size: 13em;
	color: rgba(236, 29, 35, 0.34);
	font-family: HelveticaNeueLTStd_Roman;
}
#content .title-module-wrapper{
	display: inline-block;
	max-width: 475px;
	width: 100%;
	vertical-align: middle;
}
#content .title-module-wrapper .title-module{
	color: #790007;
	font-family: HelveticaNeueLTStd_Roman;
	font-size: 2em;
	text-align: left;
	padding: 10px;
	text-align: right;
	line-height: 50px;
	padding-right: 50px;
}
#content .title-module-wrapper .title-course{
	color: #790007;
	font-size: 0.9em;
	padding: 10px 20px;
	border-bottom: 1px solid #EC1D23;
	padding: 10px;
	text-align: left;
	text-shadow: none;
}

#content{
    height: 100%;
    line-height: 23px;
    width: 100%;
    position: relative;
    max-height: 640px;
    /* position: fixed; */
    max-width: 425px;
}
#content .title-wrapper{
	border-bottom: 1px solid #EC1D23;
	color: #EC1D23;
	font-weight: 700;
	margin-top: 40px;
	margin-bottom: 30px;
	max-width: 420px;
	font-size: 1.1em;
	text-shadow: none;
	width: 100%;
	display: table;
}
#content .title-wrapper .number{
	width: 35px;
	text-align: center;
	border-bottom: 2px solid #EC1D23;
	padding-right: 0px;
	height: initial;
	display: table-cell;
}
#content .title-wrapper .title{
	font-family: HelveticaNeueLTStd_Md;
	font-weight: normal;
	font-size: 18px;
	display: table-cell;
	padding-left: 20px;
	padding-bottom: 5px;
}
#content .link_group:hover{
	opacity: .6;
}
#content .link_group{
	width: 100%;
	margin: 0 auto;
}
#content .link_group img{
    padding: 0px 25px;
}
#content .link_group span{
	margin: 10px 0;
	display: inline-block;
	width: 100%;
}

.block-content-wrap{
	text-align: center;
	margin-top: 25px;
	padding-bottom: 50px;
}
.block-content{
	display: inline-block;
	max-width: 140px;
	margin: 15px;
	vertical-align: bottom;
}

/* COVER */
#content .cover-wrap{
	background: rgba(255, 255, 255, 0.81);
	padding: 60px 15px;
	text-align: center;
}
#content .title-module-wrapper .title-module{
	text-align: center;
	padding: 10px;
	font-size: 28px;
	line-height: 34px;
}
#content .title-module-wrapper .title-course{
	text-align: center;
}

@media only screen and (max-width: 767px) {
	#content .title-module-wrapper{
		max-width: 380px;
	}
	#content .title-module-wrapper{
		max-width: 100%;
	}
}
@media only screen and (max-width: 570px) {
	#content .title-module-wrapper .title-module{
		font-size: 1.4em;
		/*width: 250px;*/
		text-align: center;
	}
	#content .number-module{
		font-size: 7em;
		padding: 0 15px;
	}
	#content .cover-wrap{
		padding: 30px 15px;
	}
}

@media only screen and (max-width: 374px) {
	#content .title-module-wrapper .title-module{
		font-size: 1.4em;
		/*width: 250px;*/
		text-align: center;
	}
}

@media only screen and (max-width: 374px) {
	.title_instruction{
		position: relative;
    	margin-left: -25%;
	}
}

/*page before_challenge and review_list*/
.title_challenge{
    position: relative;
    display: inline-block;
    /*width: 190px;*/
}
.title_challenge span{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 3px;
    font-size: 1em;
    height: 100%;
}
.title_challenge img{
    width: 100%;
}

@media screen and (min-device-width: 321px) and (max-device-width: 424px){
    .title_challenge{
        margin-left: -39%;
    }
}

@media screen and (min-device-width: 376px) and (max-device-width: 767px){
    .title_challenge{
        margin-left: -47%;
    }
}

.active{
	display: inherit;
}

