.game_quiz_popup{
	padding: 15px;
	background: #fff;
}
#game_quiz_page{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	background: rgb(179, 229, 252);
	overflow-y: auto;
}
.append_quiz{
	width: 100%;
	height: 86%;
	overflow-y: auto;
	position: relative;
	overflow-x: hidden;
}
/* QUESTION TEXT */
.text_question{
	text-align: left;
	margin-top: 25px;
	text-shadow: none;
	color: #343434;
}
.text_question span{
	font-weight: bold;
}
	#img_soal{
		max-width: 90px;
	}

	/* PILIHAN JAWABAN */
	.pilihan_wrapper{
		display: inline-block;
		list-style: none;
		text-align: left;
		width: 85%;
		vertical-align: top;
		margin-bottom: 0px;
		margin-left: -5px;
		margin-top: 0px;
	}
	.pilihan_wrapper .pilihan{
		line-height: 1.3em;
		padding: 15px;
		border: 1px solid #1d8bec;
		background: #fff;
		text-shadow: none;
		margin: 10px 0;
		border-radius: 5px;
		position: relative;
	}
	.slider-content.dadseqcat .pilihan_wrapper .pilihan{
		margin-top: 29px;
		height: 79px;
	}
	.pilihan_jawaban_wrapper .category_wrapper{
		display: none;
	}
	.slider-content.dadseqcat .category_wrapper{
		display: block;
		position: absolute;
		width: 100%;
		text-align: left;
	}
	.slider-content.dadseqcat .pilihan_jawaban_wrapper .category{height: 110px;}
	.mc .pilihan_wrapper .pilihan,
	.mmc .pilihan_wrapper .pilihan{
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		-ms-transition: all .3s ease;
		transition: all .3s ease;
	}
	.mmc .num_pilihan span{
		display: none;
	}
	.pilihan.mc .txt_pilihan{
		padding-left: 10px;
		display: block;
	}
	.pilihan.mmc{
		background: none !important;
		border: none !important;
		border-bottom: 1px solid #1d8bec !important;
		border-radius: 0 !important;
	}
	.pilihan.mc .bullet {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		left: -20px;
		top: 50%;
		margin-top: -20px;
		border-radius: 50%;
		background: #fff;
		border: 1px solid #1D8BEC;
		color: #1d8bec !important;
	}
	.pilihan.mmc .bullet {
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		top: 50%;
		margin-top: -15px;
		border-radius: 15%;
		background: #fff;
		border: 1px solid #1d8bec;
		left: -25px;
	}
	.pilihan .bullet .bul_abjad,
	.pilihan .bullet .bul_ceklis{
		display: none;
		color: #1d8bec !important;
	}
	.pilihan.mc .bullet .bul_abjad {
		display: block;
		padding: 9px;
		text-align: center;
	}

		/* PILIHAN ACTIVE */
		.mc .pilihan_wrapper .pilihan.active{
			background: #1D8BEC;
			color: #fff;
		}
		.mmc .pilihan_wrapper .pilihan.active .bullet{
			background: #1d8bec;
			display: table;
		}
		.mmc .pilihan_wrapper .pilihan.active .bullet .bul_ceklis{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: #fff !important;
		}
		/* END */
		
		/* PILIHAN BENAR */
		.pilihan_wrapper .pilihan.mc.right{
			background: #619C61;
			color: #fff;
		}
		.pilihan_wrapper .pilihan.mc.right .bullet{
			background: #619C61;
			color: #fff;
			border: 1px solid #fff;
		}
		.pilihan_wrapper .pilihan.mc.right .bullet .bul_abjad{
			color: #fff !important;
		}
		.pilihan_wrapper .pilihan.mmc.right .bullet{
			background: #619C61;
			display: table;
		}
		.pilihan_wrapper .pilihan.mmc.right .bullet .bul_ceklis{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: #fff !important;
		}
		/* END */
		
		/* PILIHAN SALAH */
		.pilihan_wrapper .pilihan.mc.wrong{
			background: #CD5A5A;
			color: #fff;
		}
		.pilihan_wrapper .pilihan.mc.wrong .bullet{
			background: #CD5A5A;
			color: #fff;
			border: 1px solid #fff;
		}
		.pilihan_wrapper .pilihan.mmc.wrong .bullet{
			background: #CD5A5A;
			display: table;
		}
		.pilihan_wrapper .pilihan.mmc.wrong .bullet .bul_ceklis{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: #fff !important;
		}
		/* END */

		.pilihan.wrong .bullet .bul_abjad,
		.pilihan.right .bullet .bul_abjad{
			color: #fff !important;
		}

	/* DRAG AND DROP */
	.drop_wrapper{
	    display: block;
	    text-align: center;
	    background: #fff;
	    border-radius: 6px;
	    padding: 40px 10px 10px;
	}
	.game_quiz_popup .drop_wrapper{
		background: #e4e0e0;
		margin-top: 25px;
	}
	.drop{
	    width: 160px;
	    height: 40px;
	    display: inline-block;
	    background: rgba(0,0,0,0.05);
	    border-radius: 6px;
	    margin: 0 5px;
	    vertical-align: middle;
	    display: none;
	    margin-bottom: 10px;
	}
	.game_quiz_popup .drop{
		background: #c1c1c1;
	}
	.drop_wrapper span{
	    display: inline-block;
	    vertical-align: middle;
	    text-shadow: none;
	    height: 40px;
	    padding: 4px 0;
	}
	.drop img{

	}
	.drag_wrapper{
	    display: block;
	    background: rgba(0,0,0,.2);
	    padding: 10px;
	    margin: 20px 0;
	    margin-left: -15px;
	    margin-right: -15px;
	    min-height: 20%;
	    text-align: center;
	}
	.drag_wrapper .drag{
	    margin: 2px;
	}
	.drag{
	    width: 160px;
	    height: 40px;
	    display: inline-block;
	    background: #fff;
	    border-radius: 6px;
	    display: none;
	    border: 1px solid #CCCCCC;
	}
	.drag.right{
	    background: #619C61;
	}
	.drag img{
	    
	}
	.drag .center_text{
	    display: table;
	    width: 100%;
	    height: 100%;
	}
	.drag .txt_drag{
	    display: table-cell;
	    vertical-align: middle;
	    color: #343434;
	    text-align: center;
	}
	.drag.right .txt_drag{
		color: #fff;
	}
	.drop_wrapper,
	.drag_wrapper,
	.drop_down_wrapper{
		display: none;
	}
	.dad .drop_wrapper,
	.dad .drag_wrapper,
	.dpd .drop_down_wrapper{
		display: block;
	}
	/* END */

	/* DROP DOWN */
	.drop_down_wrapper{
		text-align: left;
		background: #fff;
		border-radius: 10px;
		padding: 40px 10px 10px;
	}
	.drop_down_wrapper select{
	    width: 160px;
	    height: 40px;
	    display: inline-block !important;
	    font-size: .9em;
	    border: 1.2px solid #CCCCCC !important;
	    box-shadow: none !important;
	    transition: none;
	    border-radius: 6px;
	    display: none;
	    margin: 5px;
	    padding: 0px;
	}
	.drop_down_wrapper span{
	    margin: -3px;
	    font-size: .9em;
	}
	/* END */

/* BUTTON NEXT QUESTION */
.next-soal {
	color: #fff;
    border-radius: 5px;
    background: #1D8BEC;
    border-bottom: 5px solid #186ab4;
    font-size: 1.4em;
    text-shadow: none;
	height: 45px;
	width: 45px;
	display: none;
	position: absolute;
	top: 0;
	padding: 4px;
	right: 0;
	text-align: center;
	margin: 0;
}
.next-soal img{
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}
/* END */

.game_quiz_popup_pilihan{

}
.game_quiz_popup_pilihan.done{

}
.game_quiz_popup_pilihan.wrong{

}
.game_quiz_popup_pilihan.right{
	
}